<section class="section2" id="AboutUs">
    <table>
    <tr>
    <td>
    <img src="/assets/img/aboutt.jpeg" alt="AboutUs">
    </td>
    <td>
    <span class="title">About Us</span>
    <span class="sub-title">Lorem ipsum dolor sit amet, consectetur adi</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a routerLink="#" class="btn1">Our Misssion</a> 
    </td>
    </tr>
    </table>
    </section>
    
    <section class="section3" id="OurMission">
    <table>
    <tr>
    <td>
    <span class="title">Our Mission</span>
    <span class="sub-title">Lorem ipsum dolor sit amet, consectetur adi</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
    </td>
    <td>
    <img src="/assets/img/abouttt.webp" alt="AboutUs">
    </td>
    </tr>
    </table>
    </section>
